
<table class="post_table">
<th class="post_table_th">New post</th>
<tr></tr><td class="post_element"><%= render 'form' %>
<br />
<div class="text_label"><%= link_to 'Back', posts_path %></div>
</td></tr>
</table>


