/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body{
    background-image: url("background.png");
    background-repeat: repeat-y;
    background-position: center;
}
.login{
    position: absolute;
    margin-left: 50%;
    top: 3%;
    width: 500px;
}

.application_title{
    text-align:center;
}

.error_expl{
    width: 40%;
    position: relative;
    left: 30%;
    background-color: #ee0000;
    color: white;
    border:  solid 1px #a00000;
    font-size: 12px;
    text-align: center;
}