// Place all the styles related to the Users controller here.
// They will automatically be included in application.theme.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
       margin-left:auto;
       margin-right:auto;
       background-color:#efffff;
}

.main-page{
    margin-left:auto;
    margin-right:auto;
    width:65%;
}
.heading{
    text-align:center;
    font-family:calibri,corbel;
    font-weight:bold;
    font-size:24px;
}
ul.list-layout{
    margin-left:auto;
    margin-right:auto;
    width:65%;
}

table.show_all_table{
    margin-left:auto;
    margin-right:auto;
    width:68%;
    border-style:solid;
    border-width:2px;
    background-color:#fff;
    text-align:center;
}

th.show_all_table_th{
    text-align:center;
    background-color: #cd5c5c;
    font-family:calibri,corbel;
    font-weight:bold;
    font-size:24px;
    //height:50px;
    //cell-padding: 40px;
}

.show_all_table_td{
    text-align:center;
    background-color:#f0e68c;
 }

table.new_user{
    margin-left:auto;
    margin-right:auto;
    width:68%;
    border-style:solid;
    border-width:2px;
    background-color:#fff;
}

th.new_user_th{
    background-color: #cd5c5c;
    font-family:calibri,corbel;
    font-weight:bold;
    font-size:24px;
}

.new_user_td{
    background-color:#f0e68c;
 }


